@media screen and (max-width: 996px) {
  .Description {
    display: none;
  }
}
@media screen and (min-width: 996px) {
  .Description1 {
    display: none;
  }
}
.descriptionerror {
  color: rgb(191, 43, 43);
  font-size: 17px;
  margin-right: 65%;
  background-color: rgb(255, 193, 193);
  text-align: left;
  width: 460px;
}

.error1 {
  color: rgb(191, 43, 43);
  font-size: 17px;
  /* margin-right: 50%; */
}
