body {
  outline: none !important;
}
.c1 {
  background-color: white smoke;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24);
  height: 70px;
}

.em:hover {
  border: none;
}
.em:active {
  border: none;
}

.em1 {
  width: 75%;
  border: 1px solid rgb(202, 202, 202);
  background-color: white;
  cursor: pointer;
}
.em1:focus {
  border: 2px solid rgb(15, 119, 192);
}
.em1:hover {
  border: 2px solid rgb(15, 119, 192);
}
.em1:active {
  border: 2px solid rgb(15, 119, 192);
}
.em:focus {
  border: none;
}

@media screen and (max-width: 592px) {
  .password {
    display: none;
  }
}
@media screen and (min-width: 592px) {
  .password1 {
    display: none;
  }
}
.LockIcon {
  color: rgb(202, 202, 202);
}
.passworderror {
  color: rgb(224, 39, 39);
  font-size: 17px;
  margin-left: -1%;
  background-color: rgb(255, 193, 193);
  width: 290px;
  text-align: left;
}
.passworderrormob {
  color: rgb(191, 43, 43);
  font-size: 17px;
  margin-left: 0%;
  background-color: rgb(255, 193, 193);
  text-align: left;
}
